.tileSection {
    width: 45%;
    height: 80vh;
    flex: 0 0 auto;
    margin: 1rem 1.5rem; 
}

.projectImg {
    width: 100%;
    height: 70%;
    border-radius: 5%;
    object-fit: cover;
}

.projectImg:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.name{
    margin: 15px 0;
}

.name:hover{
    cursor: pointer;
}

.detailBtn {
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
    color: #262322;
    text-decoration: none;
}

.detailBtn:hover {
    cursor: pointer;
    font-weight: 600;

}