
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    z-index: 20;
  }

  .header a {
    color: white;
  }
  
  .header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header ul li {
    margin-left: 20px;
  }
  
  .header ul li a {
    display: flex;
    align-items: center;
  }
  
  .header ul li a:hover, .header ul li a.active {
    color: #7CA397;
    font-weight: bold;
  }
  
  .header ul li a svg {
    margin-right: 5px;
  }
