.headerNav, header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e6e6e6;
    z-index: 20;
  }

  .headerNav a {
    color: white;
  }
  
  .headerNav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .headerNav ul li {
    margin-left: 20px;
  }
  
  .headerNav ul li a {
    display: flex;
    align-items: center;
  }
  
  .headerNav ul li a:hover, .headerNav ul li a.active {
    color: #7CA397;
    font-weight: bold;
  }
  
  .headerNav ul li a svg {
    margin-right: 5px;
  }
