* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #010F0F;
}

a {
  text-decoration: none;
  color: #9FAE9B;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 100%;
}

/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  height: 5px;
  width: 5px
}
/* 
scrollbar-color: #888;

scrollbar-face-color: #888;
scrollbar-shadow-color: #555;
scrollbar-highlight-color: #999;
scrollbar-3dlight-color: #999;
scrollbar-darkshadow-color: #333;
scrollbar-track-color: #f0f0f0; */
