.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 85vh;
}

.profilePic {
    width: 35%;
    padding: 0;
    margin: 0;
    height: 100%;
}

.aboutMe {
    position: relative;
    padding: 0;
}

.header {
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    text-transform: uppercase;
    text-align: center;
    color: #eef2f3;
}

.aboutMe p{
    margin: 20px 0;
    padding: 0;
    color: #dce3e6
}

.saveBtn {
    position: absolute;
    right: 0;
    margin-right: 10%;
    border-radius: 6px;
    border: 1px solid black;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: #13343F;
    color: white;
    
}
